*{
    box-sizing: border-box;
}
body {

   background-color:#e3f6f5;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   color: black;

}

h1{
    color: #2c698d;
}

p{
text-align: center;
}

.currency{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    align-items: center;
    
}
.currency input{
    margin-right: 10px;
    border: 0;
    background: transparent;
    text-align: center;
    padding: 7px 4px;
    font-size: 16px;
}
.currency select{
       
    padding: 10px 20px 10px 10px;
    border-radius: 4px;
    font-size: 17px;
    background-color: transparent;

      
}
.currency select,input:focus{
    outline: 0;
}
.btn-container{
    display: flex;
    /* background-color: #fff; */
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.swapbtn{
    cursor: pointer;
    padding: 10px 30px;
    font-size: 16px;
    margin-left: 0.55rem;
    background-color:#2c698d;
    color: white;
    border: 0;
    border-radius: 5px;
    outline: 0;
    transition: background-color 0.1s ease-in;
}
.swapbtn:hover{
    background-color: #272643;
    color: white
}
.exch-calculate{
    
    margin-right: 5rem;
}
select:focus, input:focus, button:focus {
    outline: 0;
}
