*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body{
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #880e4f;
  text-align: center;
  color: white;
  margin:auto;
  
  
}
.flex ,#submit{
  display: flex;
  flex-direction: row;
  
}
input,button{
  border:1px solid white;
  padding: 0.5rem;
  margin: 0;
  border: 0;
  font-size: 18px;
  border-right: 0;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
input[type='text']{
  width: 18.3rem;
  
}
.search-btn{
  background-color: yellow;
  cursor: pointer;
  border-radius: 0;
  border-left: 0px;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  background-color: white;
}
.red{
  color: red;
}
.generate-btn{
  margin-left: 1.5rem;
  border-radius: 0.7rem;
}
.container{
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  
}
.meals{
  display: flex;
  justify-content : space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  
}
.meal{
  position: relative;
  background-color: floralwhite;
/*  width: 17rem; */
 /* height: 17rem; */
 width: 180px;
 height: 180px;
 margin: 0.8rem;
 text-align: center;
 border-radius: 1rem;
 margin-left: 1.2rem;
}
.meal img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.meal-info{
  position: absolute;
  opacity: 0;
  border-radius: 1rem;
  top: 0rem;
  left: 0;
  bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  transition: opacity 0.3s ease-in;
}
.meal:hover .meal-info{
  opacity: 1;
  text-transform: capitalize
}

.selected-meal img{
  width: 470px;
  height: 330px;
  border: 1px solid white;
  border-radius: 0.4rem
  
}
.selected-meal h3{
  text-align: justify;
  font-size: 1.3rem;
  margin-left: 6.6rem;
  margin-bottom: 0.5rem;
/*  color: wheat; *|
}
.selected-meal p{
/*  color: gold; */
  margin-top: 0rem;
  font-size: 1.3em;
  line-height: 1.5;
}
.selected-meal ul{
  padding-left: 0;
}
.selected-meal-info{
  margin: 20px;
  text-align: center;
  
}

@media screen and (max-width: 500px) {
  input,button{
    padding: 0.2rem;
  }
  input[type='text']{
    width: 100%;
    padding: 0.9rem;
    margin: auto;
  }
  .flex,div form{
    flex-direction: column;
    
  }
  .generate-btn{
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 0.3rem;
  }
  .container{
    margin-top: 0.1rem;
    
  }
  .meal{
    margin-bottom: 0.8rem;
    margin-left: 0.1;
    width: 120px;
    height: 120px;
    box-shadow: 0px 1px 1px black;
  }
  .meals{
    justify-content: space-around;
  }


.selected-meal img{
  width: 310px;
  height: 200px;
  border: 1px solid white;
  border-radius: 0.4rem
  
}
.selected-meal h3 {
  text-align: justify;
  margin-left: 2rem;
  color: whitesmoke;
}

.selected-meal p {
  
  font-size: 1.1em;
  
}

}

